.post {
  position: relative;
  text-align: center;
  background-color: #ffe6cc;
  height: 300px;
  width: 300px;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0px 3px 4px white;
}
.submit-btn {
  text-align: left;
}

